body{
    background-color: rgb(192, 187, 187);
}

.container{
    display: flex;
}

.card{
    border-radius: 20px;
    margin-left: 10px;
    height: 170px;
    background-color: #fff;
    flex: 1;
    transition: .3s all ease;
}

.card:hover{
    flex: 2;
    background-color: rgb(207, 207, 207);
}

img{
    height: 170px;
}

div{
  margin: 10px;  
}

#keret
{
	position:absolute;
	left:20%;
	top:12%;
	box-shadow: 10px -5px 20px 0px rgba(0,0,0,0.5);
	padding: 2%;
	width: 60%;
	background-color: rgb(255, 255, 255, 0.7);
}

h1{
    text-align: center;
    font-size: x-large;
}

.kerulet{
    width: 400px;
    height: 400px;
}

a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }

  a:active {
    color: black;
  }
  